<div class="wrapper">
    <div class="background">
        <div class="info-box">
            <div class="info">
                <h1>Projects System</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et sagittis augue, sit amet
                    elementum velit. Suspendisse eget fringilla orci, eget cursus magna. Sed purus sem, placerat sit
                    amet purus sit amet, finibus aliquet enim. Nam sit amet augue pharetra, mattis eros at, sodales
                    enim. Phasellus eu orci ultrices, vestibulum.</p>
                    <button class="content-btn button" [routerLink]="['/content']">Content</button>
            </div>
        </div>
    </div>
</div>