.background {
    background-image: url('../../../assets/img/picture1.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-position: top center;
}

h1 {
    text-shadow: 2px 2px 6px rgba(0,0,0,0.57);
    letter-spacing: 1px;
}

.background::after {
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33,33,33,0.66);
    z-index: 0;
}

.info-box {
    text-align: center;
    color: rgb(255, 255, 255);
}

.info {
    background-color: rgba(126, 126, 126, 0.66);
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 10px;
}

.button {
    background-color: rgba(33,33,33,0.66);
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
  }

  .content-btn {
    background-color: rgba(126, 126, 126, 0.66); 
    color: rgb(231, 231, 231); 
    border: 2px solid rgb(187, 187, 187);
  }

  .content-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
  }