.wrapper {
    background-color: #f0f5f5;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 700px;
    border: 1px solid #f8f9fa;
    border-radius: 13px;
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.37);
    overflow: auto;
}

.card-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    background-color: white;
    margin-bottom: 20px;
    align-content: center;
    overflow: hidden;
    border-radius: 20px;
  }

  .card-img {
    height: 90%;
    width: 100%;
  }

  .margin-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .card:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  details {
    /* border: 1px solid #aaa; */
    border-top: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    outline: none;
}

details[open] {
    padding: .5em;
    width: 401px;
    overflow: hidden;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details summary::-webkit-details-marker {
    display:none;
  }

.description {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.text-align {
  margin-bottom: 21px;
}

.align-left {
    float: left;
  }

.align-right {
    float: right;
  }

.date {
  float: right;
}

.comments {
  float: left;
}

.header-text {
  text-align: center;
  padding-top: 50px;
  background-color: rgba(126, 126, 126, 0.66);
  box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.75);
}

h1 {
  letter-spacing: 0.1em;
  color: #ffff;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.57);
  font-size: 7vw;
  margin-bottom: 0;
}

.header-text > p {
  font-size: 1.3vw;;
  padding: 0px 200px 50px 200px;
  margin: 20px;
  color: rgb(241, 241, 241);
  text-shadow: 2px 2px 6px rgba(0,0,0,0.57);
  letter-spacing: -.03em;
  line-height: 1.6em;
}

.background-image {
  background-image: url('../../../assets/img/background-img.jpg');
  background-repeat: repeat;
  background-size: 400px 400px;
}