<div class="background-image">
  <div class="header-text">
    <h1>Content Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et sagittis augue, sit amet
      elementum velit. Suspendisse eget fringilla orci, eget cursus magna. Sed purus sem, placerat sit
      amet purus sit amet, finibus aliquet enim. Nam sit amet augue pharetra, mattis eros at, sodales
      enim. Phasellus eu orci ultrices, vestibulum.</p>
  </div>
  <div class="wrapper">
    <div class="card-container">
      <div *ngFor="let project of projectData">
        <div class="card margin-auto">
          <img [src]="this.chooseAvatar()" class="card-img">
          <div class="container">
            <h4><b>{{project.company_name}}</b></h4>
            <div class="text-align">
              <span class="align-left">Owner: {{project.contact_name}}</span>
              <span class="align-right">City: {{project.location_city}}</span>
            </div>
            <br>
            <details>
              <summary>Details</summary>
              <p>Title: {{project.title}}</p>
              <p class="description">{{project.description}}</p>
              <p class="comments">Comments: {{project.comments}}</p>
              <p class="date">Publish date: {{project.publish_date | date:'medium'}}</p>
            </details>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>