.navbar {
    overflow: hidden;
    background-color: rgb(114, 114, 114);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 1s;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }